<!-- Sidebar -->
<div id="sidebar-container" class="bg-primary">
    <div class="logo">
        <h4 class="text-light font-weight-bold mb-0">Reservas</h4>
    </div>
    <div class="menu">
        <div class="accordion" id="accordionConfig">
            <a class="d-block text-light p-3 border-0 collapseOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Configuración 
            </a>
            <div id="collapseOne" class="collapse" data-parent="#accordionConfig">
                <a routerLink="/usuarios" class="d-block text-light p-3 border-0"><fa-icon [icon]="faUserFriends"></fa-icon>
                    Usuarios</a>
                <a routerLink="/roles" class="d-block text-light p-3 border-0"><fa-icon [icon]="faUserTag"></fa-icon>
                    Roles</a>
                <a routerLink="/asocrol" class="d-block text-light p-3 border-0"><fa-icon [icon]="faExchangeAlt"></fa-icon>
                    Asociar rol</a>
                <a routerLink="/permisos" class="d-block text-light p-3 border-0"><fa-icon [icon]="faShieldAlt"></fa-icon>
                    Permisos</a>
                <a routerLink="/ciudades" class="d-block text-light p-3 border-0"><fa-icon [icon]="faCity"></fa-icon>
                    Ciudades</a>
            </div>
        </div>
        <div class="accordion" id="accordionContabilidad">
            <a class="d-block text-light p-3 border-0 collapseTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Contabilidad
            </a>
            <div id="collapseTwo" class="collapse" data-parent="#accordionContabilidad">
                <a routerLink="/registros" class="d-block text-light p-3 border-0"><fa-icon [icon]="faHandHoldingUsd"></fa-icon>
                    Ingresos y gastos</a>
                <a routerLink="/conceptos" class="d-block text-light p-3 border-0"><fa-icon [icon]="faStickyNote"></fa-icon>
                    Conceptos</a>
            </div>
        </div>
        <div class="accordion" id="accordionReservas">
            <a class="d-block text-light p-3 border-0 collapseThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Reservas
            </a>
            <div id="collapseThree" class="collapse" data-parent="#accordionRerservas">
                <a routerLink="/reservas" class="d-block text-light p-3 border-0"><i class="fas fa-hand-holding-usd"></i>
                    Ver reservas</a>
            </div>
        </div>
    </div>
</div>