<div class="d-flex" id="content-wrapper">
    <app-navigation></app-navigation>
    <div class="bg-content">
        <!-- <div class="accordion" id="accordionExample">
            <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
            </a>
            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
            </div>
        </div> -->
        <router-outlet></router-outlet>
    </div>
</div>