<!-- Button trigger modal 1 -->
<h4>Cuentas bancarias</h4>
<p>
  <ngb-alert #staticAlert [type]="alert.type" show="false" [dismissible]="false">{{ alert.message }}</ngb-alert>
</p>
<a class="btn btn-primary add-button" data-toggle="modal" data-target="#exampleModal">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar cuenta bancaria
</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nro. Cuenta</th>
        <th scope="col">Banco</th>
        <th scope="col">Descripción</th>
        <th scope="col">Nombre titular</th>
        <th scope="col">Operaciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cuenta of cuentas">
        <td>{{cuenta.nro_cuenta}}</td>
        <td>{{cuenta.nombre}}</td>
        <td>{{cuenta.descripcion}}</td>
        <td>{{cuenta.nombre_titular}}</td>
        <td>
            <a class="btn btn-primary operation-button" data-toggle="modal" data-target="#exampleModal2" (click)="getCuenta(cuenta.id)"><fa-icon [icon]="faEdit"></fa-icon></a>
            <a class="btn btn-danger operation-button" data-toggle="modal" (click)="deleteCuenta(cuenta.id)"><fa-icon [icon]="faTrash"></fa-icon></a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar cuenta bancaria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.nro_cuenta" name="nro_cuenta" class="form-control" placeholder="Nro. Cuenta">
            </div>
            <div class="form-group">
                <select type="number" class="form-control" [(ngModel)]="selectedBanco" (ngModelChange)="toNumberBanco()" name="id_banco">
                    <option *ngFor="let banco of bancos" [ngValue]="banco.id">{{banco.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.descripcion" name="descripcion" class="form-control" placeholder="Descripcion">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.nombre_titular" name="nombre_titular" class="form-control" placeholder="Titular">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.telefono" name="telefono" class="form-control" placeholder="Teléfono">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.correo" name="correo" class="form-control" placeholder="Correo">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.fax" name="fax" class="form-control" placeholder="Fax">
            </div>
        <button type="submit" class="btn btn-primary" (click)="saveCuenta(selectedBanco)" data-dismiss="modal">Agregar</button>
    </form>
    </div>
    </div>
</div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Editar Cuenta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.nro_cuenta" name="nro_cuenta" class="form-control" placeholder="Nro. Cuenta">
            </div>
            <div class="form-group">
                <select type="number" class="form-control" [(ngModel)]="selectedBanco" (ngModelChange)="toNumberBanco()" name="id_banco">
                    <option *ngFor="let banco of bancos" [ngValue]="banco.id">{{banco.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.descripcion" name="descripcion" class="form-control" placeholder="Descripcion">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.nombre_titular" name="nombre_titular" class="form-control" placeholder="Titular">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.telefono" name="telefono" class="form-control" placeholder="Teléfono">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.correo" name="correo" class="form-control" placeholder="Correo">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="cuenta.fax" name="fax" class="form-control" placeholder="Fax">
            </div>
           <button type="submit" class="btn btn-primary" (click)="updateCuenta(selectedBanco)" data-dismiss="modal">Guardar cambios</button>
        </form>
        </div>
      </div>
    </div>
  </div>